{% extends 'base.html' %}
{% load static %}
{% block 'head' %}{% endblock %}
{% block 'nav' %}{% endblock %}
{% block 'body' %}
<title>{% block 'title' %}{% endblock %}</title>
<body>
    <div class="container">
        <h2>{{titulo}}</h2>
        <p>Copie e cole o código abaixo dentro da tag body do seu aplicativo WEB</p>
        <textarea class="form-control" rows="10" spellcheck="false">
             <a href="#" onclick="window.open('http://127.0.0.1:8000/perguntas/chatbot/{{code_user}}',
                                                                     '',
                                                                    'width=410, height=450')">
                      Chatbot
                  </a>
        </textarea>
    </div>
{% endblock%}
</body>
</html>