{% extends 'base.html' %}
{% load static %}
{% block 'head' %}{% endblock %}
{% block 'nav' %}{% endblock %}

<title>{% block 'title' %}{% endblock %}</title>

{% block 'body' %}
<body>
    <div class="container">
        <h2>{{titulo}}</h2>
      <form action="/perguntas/salvarEdicao/" method="POST" name="frmPerguntasEdicao">{% csrf_token %}
               <input type="hidden" name="id" value="{{perguntas.id}}">
              <input type="hidden" name="code_user" value="{{perguntas.code_user}}">
             <div class="form-group">
               <select class="form-control" name="code_relation" id="code_relation" >
                 <option value="0">Relação com a Resposta Anterior</option>
                 {% for selecao in todas %}
                 <option value="{{selecao.code}}">{{selecao.question}}</option>
                 {% endfor %}

               </select>
             </div>
        <div class="form-group">
              <label for="question">Pergunta:</label>
              <input type="text" class="form-control"
                     name="question" id="question" value="{{perguntas.question}}" >

        </div>
              <div class="form-group">
              <label for="answer">Resposta:</label>
              <textarea class="form-control" rows="5"
                        name="answer" id="answer" spellcheck="false" >
                {{perguntas.answer}}
              </textarea>

        </div>
        <a href="/perguntas/{{perguntas.code_user}}" class="btn btn-secondary" role="button">
          Cancelar
        </a>
        <button type="submit" class="btn btn-primary">EDITAR</button>
      </form>
    </div>
    <script>
      const code_relation = document.getElementById('code_relation');
      try {
           const _code_relation = parseInt("{{perguntas.code_relation}}")
           if (_code_relation > 0){
             code_relation.value = "{{perguntas.code_relation}}";
           }else{
               code_relation.value = 0;
           }
      }catch(erro){
             console.login(error)
             code_relation.value = 0;
      }

      const answer = document.getElementById('answer');
      answer.innerHTML = answer.value.trim();

    </script>

{% endblock%}
</body>
</html>