{% extends 'base.html' %}
{% load static %}
{% block 'head' %}{% endblock %}
{% block 'nav' %}{% endblock %}
<title>{% block 'title' %}{% endblock %}</title>
{% block 'body' %}
<body>
    <div class="container">
        <h2>{{titulo}}</h2>
        <div style="overflow-y: scroll; height: 410px; width: : 100%;" align="center">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Pergunta</th>
                    <th>OPÇOES</th>
                </tr>
                </thead>
                <tbody>
                     {% for pergunta in perguntas %}
                      <tr>
                          <td nowrap="true">{{pergunta.id}}</td>
                          <td nowrap="true">{{pergunta.question}}</td>
                          <td nowrap="true">
                            <a href="/perguntas/edicao/{{pergunta.id}}"
                            class="btn btn-primary" role="button">
                              Editar
                            </a>
                              <a href="/perguntas/delecao/{{pergunta.id}}"
                            class="btn btn-danger" role="button">
                              DELETAR
                            </a>
                          </td>

                      </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
</body>
</html>