<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control'content='no-cache'>
    <meta http-equiv='expires'content='0'>
    <meta http-equiv='pragma'content='no-cache'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="{% static 'perguntas/css/style.css' %}">
     <link rel="stylesheet" href="{% static 'perguntas/font/ROBO.ttf' %}">
{% block 'head' %} {% endblock %}
    <title>{% block 'title' %}{% endblock %}</title>
</head>
<body onresize="mudouTamanho()">
        <header>
      <i id="burguer" class="material-icons" onclick="clickMenu()">menu</i>
      <menu id="itens">
        <ul>
            <li><a href="/perguntas/{{code_user}}">Cadastro</a></li>
              <li>
                  <a href="#" onclick="window.open('http://127.0.0.1:8000/perguntas/chatbot/{{code_user}}',
                                                                     '',
                                                                    'width=410, height=450')">
                      Chatbot
                  </a>
              </li>

              <li ><a href="/perguntas/novo/{{code_user}}">Novo</a></li>
              <li><a  href="/capturas/{{code_user}}">Capturas</a></li>
              <li><a  href="/perguntas/api/{{code_user}}">API</a></li>
               <li><a href="/home/">Sair</a></li>
        </ul>
      </menu>
            {% block 'header' %} {% endblock %}
    </header>



{% block 'body' %}{% endblock %}
<script>
    function mudouTamanho(){
        if(window.innerWidth >= 768){
            itens.style.display = 'block'
        } else{
            itens.style.display = 'none'
        }

    }


    function clickMenu(){
        if(itens.style.display == 'block'){
            itens.style.display = 'none'
        } else {
            itens.style.display = 'block'
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>
