<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control'content='no-cache'>
    <meta http-equiv='expires'content='0'>
    <meta http-equiv='pragma'content='no-cache'>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'usuarios/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/media-query.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    
    <title>Login</title>
<style>

i.material-icons{
     font-size: 48px;
     color:black;

}
</style>

</head>

<body>
      <header>
          <menu>
              <ul>

                  <li><a href="/home/"><i class="material-icons">home</i></a></li>
              </ul>

    <main>
        <section id="login">
             <div id="imagem"> </div>

             <div id="formulario">
                <h1>Login</h1>
                <p>Seja bem-vindo(a) novamente.Faça login para acessar o seu ambiente.</p>

                <form action="/usuarios/entrar/" method="POST" name="frmUsuariosLogin">{% csrf_token %}
                <div class="campo">
                    <i class="material-icons" >person</i>
                    <input type="text"  name="user" id="user" placeholder="Nome de Usuário">
                   <label for="user">Login</label>
                </div>
                <div class="campo">
                    <i class="material-icons">vpn_key</i>
                   <input type="password"  name="password" id="password" placeholder="Informe sua senha">
                    <label for="password">Senha</label>
                </div>
                <input type="submit" value="Entrar">
                 <a href="esqueci.html" class="botao">Esqueci a senha<i class="material-icons">mail</i></a>
            </form>

             </div>
               </section>


    </main>
</menu>

           </header>

</body>
</html>